
# Dependencies
node_modules/
**/node_modules/
 
# Build output
dist/
.output/
.nuxt/
.nitro/
.cache/
 
# Env files
.env
.env.local
.env.*.local
!.env.example
frontend/.env.example
 
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# Editor
.vscode/*
!.vscode/extensions.json
.idea/
 
# OS
.DS_Store
Thumbs.db
 
# TypeORM migrations sometimes generate temp files
*.tsbuildinfo
 
# Test coverage
coverage/

# SQL files
*.sql
docs/database/*.sql
 
backend/.env.example
backend/.env

backend/certs/ca.pem
